<%= form_for(@apartment) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price, 'Rent' %><br />
    $<%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br />
    <%= f.text_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :floor_space %><br />
    <%= f.number_field :floor_space %> (ft<sup>2</sup>)
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score, :min => 0, :max => 5 %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <hr />

  <div class="field">
    <%= f.label :cats, 'Allows Cats?' %><br />
    <%= f.check_box :cats %>
  </div>
  <div class="field">
    <%= f.label :cats_deposit, 'Deposit for Cat' %><br />
    $<%= f.text_field :cats_deposit %>
  </div>
  <div class="field">
    <%= f.label :cats_rent, 'Rent for Cat' %><br />
    $<%= f.text_field :cats_rent %>
  </div>

  <div class="field">
    <%= f.label :parking, 'Provides Parking?' %><br />
    <%= f.check_box :parking %>
  </div>
  <div class="field">
    <%= f.label :parking_rent, 'Cost of Parking' %><br />
    <%= f.text_field :parking_rent %>
  </div>

  <div class="field">
    <%= f.label :laundry, 'Provides Laundry?' %><br />
    <%= f.check_box :laundry %>
  </div>

  <hr />

  <div class="field">
    <%= f.label :pros %><br />
    <%= f.text_area :pros %>
  </div>
  <div class="field">
    <%= f.label :cons %><br />
    <%= f.text_area :cons %>
  </div>
  <div class="field">
    <%= f.label :other, 'Other Comments' %><br />
    <%= f.text_area :other %>
  </div>

  <div class="field">
    <%= f.label :link %><br />
    <%= f.url_field :link %>
  </div>
  <div class="field">
    <%= f.label :posted_at %><br />
    <%= f.datetime_select :posted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
