<h1><%= I18n.translate :listing, :count => @apartments.count %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>BDR</th>
    <th>Address</th>
    <th>Cats</th>
    <th>Parking</th>
    <th>Laundry</th>
    <th>Link</th>
    <th>Posted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apartments.each do |apartment| %>
  <tr>
    <td><%= apartment.title %></td>
    <td><%= price(apartment.price) %></td>
    <td><%= apartment.bedrooms %></td>
    <td><%= google_maps_link(apartment.address, apartment.full_address) %></td>
    <td><%= pet_price(apartment, :cats) %></td>
    <td><%= amenity_price(apartment, :parking) %></td>
    <td><%= yes_or_no(apartment.laundry) %></td>
    <td><%= link_to 'link', apartment.link %></td>
    <td><%= time_ago_in_words(apartment.posted_at) + " ago" %></td>
    <td><%= link_to 'Show', apartment %></td>
    <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
    <td><%= link_to 'Destroy', apartment, :confirm => 'Are you sure?',
      :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apartment', new_apartment_path %>
