<h1><%= I18n.translate :listing, :count => @apartments.count %></h1>

<% content_for :head do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  <script type="text/javascript">
    function initialize() {
      var marker;
      var latlng = new google.maps.LatLng(37.77472, -122.41190);

      var myOptions = {
        zoom: 13,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      var addApartment = function (name, price, lat, lng) {
        var marker = new google.maps.Marker({
          title: price + " -- " + name,
          position: new google.maps.LatLng(lat, lng),
          map: map
        });
      }

<% @apartments.each do |apartment| %>
  <% next if apartment.latitude.nil? || apartment.longitude.nil? %>
  addApartment(
    "<%= escape_javascript(apartment.title) %>",
    "<%= escape_javascript(price(apartment.price)) %>",
    <%= apartment.latitude %>, <%= apartment.longitude %>
  );
<% end %>
    }
  </script>
<% end %>

<div id="map_canvas" style="width:100%; height:100%"></div>
